<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
    <div class="options">
      <ion-buttons>
        <ion-img src="../../assets/imgs/filter.svg"></ion-img>
      </ion-buttons>
      <ion-buttons>
        <ion-img src="../../assets/imgs/search.svg"></ion-img>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-scroll>
    <div class="transact-list">
      <ion-text>
        <h5>june 2020</h5>
      </ion-text>
    </div>
    <div class="list-details">
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
    </div>
    <div class="transact-list">
      <ion-text>
        <h5>apr 2020</h5>
      </ion-text>
    </div>
    <div class="list-details">
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
      <app-list 
        cardType="Dollar Card Topup via Wallet"
        priceTag="$6.00"
        timeLine="Jun 16">
      </app-list>
    </div>
  </ion-scroll>
</ion-content>
